   <hr/>
    <div class="center">
      <a class="footlink" href="http://www.freecodecamp.com/perrot">FreeCodeCamp</a> | <a class="footlink" href="https://twitter.com/zoga9">@perrot</a> | <a class="footlink" href="https://github.com/perrot/stock-market-chart-app.git">GitHub</a>
    </div>
<style>
a.footlink{color:blue}
a.footlink:link{color:blue}
a.footlink:hover{color:blue}
</style>
  </div>
</body>
</html>
